body {
  background: wheat;
}

.maze-container {
  height: 660px;
  width: 660px;
  display: flex;
  flex-wrap: wrap;
  border: solid black;
}

.black {
  height: 60px;
  width: 60px;
  background: black;
}

.white {
  height: 60px;
  width: 60px;
  background: aliceblue;
}
